In [1]:
#importing the Libraies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Reading the Dataset
dataset = pd.read_csv('Social_Network_Ads.csv')

In [3]:
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0            1
1    15810944   35            20000          0            1
2    15668575   26            43000          0            0
3    15603246   27            57000          0            0
4    15804002   19            76000          0            1
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1            0
396  15706071   51            23000          1            1
397  15654296   50            20000          1            0
398  15755018   36            33000          0            1
399  15594041   49            36000          1            0

[400 rows x 5 columns]

In [6]:
indep=dataset[['Age', 'EstimatedSalary','Gender_Male']]
dep=dataset['Purchased']

In [7]:
#split into training set and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(indep, dep, test_size = 1/3, random_state = 0)

In [8]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [9]:
from sklearn.tree import DecisionTreeClassifier

In [10]:
#https://scikit-learn.org/stable/modules/model_evaluation.html#scoring-parameter

In [11]:
from sklearn.model_selection import GridSearchCV

param_grid = {'criterion':['gini','entropy'],
              'max_features': ['auto','sqrt','log2'],
              'splitter':['best','random']} 



grid = GridSearchCV(DecisionTreeClassifier(), param_grid, refit = True, verbose = 3,n_jobs=-1,scoring='f1_weighted') 
   
# fitting the model for grid search 
grid.fit(X_train, y_train)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

GridSearchCV(estimator=DecisionTreeClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             scoring='f1_weighted', verbose=3)

In [12]:
# print best parameter after tuning 
#print(grid.best_params_) 
re=grid.cv_results_
#print(re)
grid_predictions = grid.predict(X_test) 
   

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, grid_predictions)



# print classification report 
from sklearn.metrics import classification_report
clf_report = classification_report(y_test, grid_predictions)

In [13]:

from sklearn.metrics import f1_score
f1_macro=f1_score(y_test,grid_predictions,average='weighted')
print("The f1_macro value for best parameter {}:".format(grid.best_params_),f1_macro)

The f1_macro value for best parameter {'criterion': 'entropy', 'max_features': 'log2', 'splitter': 'random'}: 0.8261962079005892

In [14]:
print("The confusion Matrix:\n",cm)

The confusion Matrix:
 [[76  9]
 [14 35]]

In [15]:
print("The report:\n",clf_report)

The report:
               precision    recall  f1-score   support

           0       0.84      0.89      0.87        85
           1       0.80      0.71      0.75        49

    accuracy                           0.83       134
   macro avg       0.82      0.80      0.81       134
weighted avg       0.83      0.83      0.83       134

In [16]:
from sklearn.metrics import roc_auc_score

roc_auc_score(y_test,grid.predict_proba(X_test)[:,1])

0.8042016806722689

In [17]:
table=pd.DataFrame.from_dict(re)

In [18]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.003124,0.006248,0.003124,0.006248,gini,auto,best,"{'criterion': 'gini', 'max_features': 'auto', ...",0.782557,0.852030,0.795256,0.832483,0.885265,0.829518,0.037423,9
1,0.003125,0.006249,0.000000,0.000000,gini,auto,random,"{'criterion': 'gini', 'max_features': 'auto', ...",0.826263,0.822155,0.796284,0.906166,0.849057,0.839985,0.037090,4
2,0.003124,0.006249,0.006248,0.007653,gini,sqrt,best,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.847141,0.852030,0.796284,0.867097,0.885265,0.849563,0.029775,2
3,0.003124,0.006248,0.000000,0.000000,gini,sqrt,random,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.829615,0.795789,0.778067,0.887907,0.826499,0.823575,0.037488,12
4,0.003124,0.006248,0.000000,0.000000,gini,log2,best,"{'criterion': 'gini', 'max_features': 'log2', ...",0.804764,0.831253,0.814409,0.851527,0.862442,0.832879,0.021707,8
5,0.000000,0.000000,0.003125,0.006249,gini,log2,random,"{'criterion': 'gini', 'max_features': 'log2', ...",0.826263,0.825959,0.773585,0.795256,0.923510,0.828915,0.051300,10
6,0.000000,0.000000,0.000000,0.000000,entropy,auto,best,"{'criterion': 'entropy', 'max_features': 'auto...",0.804764,0.870047,0.813179,0.867097,0.841025,0.839222,0.026818,5
7,0.006248,0.007653,0.000000,0.000000,entropy,auto,random,"{'criterion': 'entropy', 'max_features': 'auto...",0.808927,0.868752,0.738451,0.832483,0.869709,0.823664,0.048393,11
8,0.003125,0.006249,0.000000,0.000000,entropy,sqrt,best,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.776290,0.831253,0.813179,0.844370,0.905069,0.834032,0.042261,6
9,0.003125,0.006249,0.000000,0.000000,entropy,sqrt,random,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.849794,0.888107,0.833323,0.813179,0.826499,0.842180,0.025817,3
10,0.003124,0.006247,0.000000,0.000000,entropy,log2,best,"{'criterion': 'entropy', 'max_features': 'log2...",0.826263,0.811321,0.775815,0.851527,0.903610,0.833707,0.042690,7
11,0.000000,0.000000,0.003125,0.006250,entropy,log2,random,"{'criterion': 'entropy', 'max_features': 'log2...",0.849794,0.888107,0.759244,0.905069,0.903610,0.861165,0.054721,1

In [25]:
age_input=float(input("Age:"))
estimated_input=float(input("Estimated:"))
sex_male_input=int(input("Sex Male 0 or 1:"))

Age:32
Estimated:150000
Sex Male 0 or 1:1

In [26]:
SVM = grid.predict([[age_input,estimated_input,sex_male_input]])
print("Future_Prediction={}".format(SVM))

Future_Prediction=[1]

In [27]:
print("If output is Yes = Purchased, No = Not Purchased")

print("Is User Purchased:" )
if(SVM==1):
    print("Yes")
else:
    print("No")

If output is Yes = Purchased, No = Not Purchased
Is User Purchased:
Yes